<footer class="border-top">
  <div class="p-5 d-flex gap-4 flex-row flex-wrap align-item-start justify-content-between">
    <div class="col col-12 col-md-3 pe-4 mx-1">
      <div class="d-flex flex-row flex-wrap align-item-center">
        <a [routerLink]="['']" class="brand">
            <img class="brand__logo" src="../../../../../assets/images/logo/isologo-josisbox.png" alt="Logo Josi's Box">
            <h2 class="brand__title">Josi's Box</h2>
        </a>
        <p class="brand__description">Projeto de um e-commerce para livros desenvolvido para 
          fins de aprendizagem no curso da Digital Innovation One Inc. Para realização deste projeto, 
          foi escolhido como tema a página de livros Josi's Box. 
        </p>
      </div>
    </div>

    <div class="col mx-1">
      <h4>Institucional</h4>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a [routerLink]="['']" class="nav-link p-0 text-muted">Sobre</a></li>
        <li class="nav-item mb-2"><a [routerLink]="['']" class="nav-link p-0 text-muted">Contato</a></li>
        <li class="nav-item mb-2"><a [routerLink]="['']" class="nav-link p-0 text-muted">FAQ</a></li>
        <li class="nav-item mb-2"><a [routerLink]="['']" class="nav-link p-0 text-muted">Trabalhe Conosco</a></li>
        <li class="nav-item mb-2"><a [routerLink]="['']" class="nav-link p-0 text-muted">Condições de Compra</a></li>
        <li class="nav-item mb-2"><a [routerLink]="['']" class="nav-link p-0 text-muted">Política de Trocas</a></li>
        <li class="nav-item mb-2"><a [routerLink]="['']" class="nav-link p-0 text-muted">Política de Privacidade</a></li>
        <li class="nav-item mb-2"><a [routerLink]="['']" class="nav-link p-0 text-muted">Cookies</a></li>
      </ul>
    </div>

    <div class="col mx-1">
      <h4>Gêneros</h4>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a [routerLink]="['']" class="nav-link p-0 text-muted">Ação e aventura</a></li>
        <li class="nav-item mb-2"><a [routerLink]="['']" class="nav-link p-0 text-muted">Autoajuda</a></li>
        <li class="nav-item mb-2"><a [routerLink]="['']" class="nav-link p-0 text-muted">Biografia</a></li>
        <li class="nav-item mb-2"><a [routerLink]="['']" class="nav-link p-0 text-muted">Distopia</a></li>
        <li class="nav-item mb-2"><a [routerLink]="['']" class="nav-link p-0 text-muted">Fantasia</a></li>
        <li class="nav-item mb-2"><a [routerLink]="['']" class="nav-link p-0 text-muted">Ficção científica</a></li>
        <li class="nav-item mb-2"><a [routerLink]="['']" class="nav-link p-0 text-muted">Gospel</a></li>
        <li class="nav-item mb-2"><a [routerLink]="['']" class="nav-link p-0 text-muted">HQs e Mangás</a></li>
        <li class="nav-item mb-2"><a [routerLink]="['']" class="nav-link p-0 text-muted">Infantil</a></li>
        <li class="nav-item mb-2"><a [routerLink]="['']" class="nav-link p-0 text-muted">Romance</a></li>
        <li class="nav-item mb-2"><a [routerLink]="['']" class="nav-link p-0 text-muted">Terror e Suspense</a></li>
      </ul>
    </div>

    <div class="col mx-1">
      <h4>Pagamento</h4>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a [routerLink]="['']" class="nav-link p-0 text-muted">Cartões de crédito</a></li>
        <li class="nav-item mb-2"><a [routerLink]="['']" class="nav-link p-0 text-muted">Cartões de débito</a></li>
        <li class="nav-item mb-2"><a [routerLink]="['']" class="nav-link p-0 text-muted">Pix</a></li>
      </ul>
    </div>

    <div class="col-2 mx-1">
      <h4>Atendimento</h4>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a [routerLink]="['']" class="nav-link p-0 text-muted">Minha conta</a></li>
        <li class="nav-item mb-2"><a [routerLink]="['']" class="nav-link p-0 text-muted">Meus pedidos</a></li>
        <li class="nav-item mb-2"><a [routerLink]="['favoritos']" class="nav-link p-0 text-muted">Meus favoritos</a></li>
        <li class="nav-item mb-2"><a [routerLink]="['']" class="nav-link p-0 text-muted">Atendimento</a></li>        
      </ul>     
    </div>
  </div>
  <div class="pt-4 pb-2 d-flex flex-column flex-sm-row justify-content-center border-top bg-light">
    <p class="text-center">&copy; 2022 JOSI'S BOX. Powered by <a class="link-dark text-decoration-none" href="https://github.com/elidianaandrade" target="_blank">Elidiana Andrade</a> All rights reserved.</p>
  </div>
</footer>