<div class="bookstore">
    <div id="sliderXLPopular" class="d-none d-xl-flex carousel carousel-dark slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="bookstore-carousel__item">
            <app-card
            cardCapa="./../../../assets/images/books/0.jpg"
            cardTitle="A Teoria de Tudo"
            cardAuthor="Hawking, Jane"
            cardPrice="19.99"
            >
            </app-card>

            <app-card
            cardCapa="./../../../assets/images/books/1.jpg"
            cardTitle="Harry Potter e a Pedra Filosofal"
            cardAuthor="Rowling, J. K."
            cardPrice="29.99"
            >
            </app-card>

            <app-card
            cardCapa="./../../../assets/images/books/2.jpg"
            cardTitle="Como Star Wars Conquistou o Universo"
            cardAuthor="Taylor, Chris"
            cardPrice="49.99"
            >
            </app-card>

            <app-card
            cardCapa="./../../../assets/images/books/3.jpg"
            cardTitle="1984"
            cardAuthor="Orwell, George"
            cardPrice="39.99"
            >
            </app-card>
          </div>
        </div>

        <div class="carousel-item">
          <div class="bookstore-carousel__item">
            <app-card
            cardCapa="./../../../assets/images/books/4.jpg"
            cardTitle="A Revolução dos Bichos"
            cardAuthor="Orwell, George"
            cardPrice="19.99"
            >
            </app-card>

            <app-card
            cardCapa="./../../../assets/images/books/5.jpg"
            cardTitle="A Garota do Lago"
            cardAuthor="Donlea, Charlie"
            cardPrice="19.99"
            >
            </app-card>

            <app-card
            cardCapa="./../../../assets/images/books/9.jpg"
            cardTitle="O Conto da Aia"
            cardAuthor="Atwood, Margaret"
            cardPrice="29.99"
            >
            </app-card>

            <app-card
            cardCapa="./../../../assets/images/books/11.jpg"
            cardTitle="Orgulho e Preconceito"
            cardAuthor="Austen, Jane"
            cardPrice="19.99"
            >
            </app-card>
          </div>
        </div>

      </div>
      <button class="carousel-control-prev ms-5" type="button" data-bs-target="#sliderXLPopular" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next me-5" type="button" data-bs-target="#sliderXLPopular" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <div id="sliderMdPopular" class="d-none d-md-flex d-xl-none carousel carousel-dark slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="bookstore-carousel__item">
            <app-card
            cardCapa="./../../../assets/images/books/0.jpg"
            cardTitle="A Teoria de Tudo"
            cardAuthor="Hawking, Jane"
            cardPrice="19.99"
            >
            </app-card>

            <app-card
            cardCapa="./../../../assets/images/books/1.jpg"
            cardTitle="Harry Potter e a Pedra Filosofal"
            cardAuthor="Rowling, J. K."
            cardPrice="29.99"
            >
            </app-card>

            <app-card
            cardCapa="./../../../assets/images/books/2.jpg"
            cardTitle="Como Star Wars Conquistou o Universo"
            cardAuthor="Taylor, Chris"
            cardPrice="49.99"
            >
            </app-card>
          </div>
        </div>

        <div class="carousel-item">
          <div class="bookstore-carousel__item">
            <app-card
            cardCapa="./../../../assets/images/books/3.jpg"
            cardTitle="1984"
            cardAuthor="Orwell, George"
            cardPrice="39.99"
            >
            </app-card>

            <app-card
            cardCapa="./../../../assets/images/books/4.jpg"
            cardTitle="A Revolução dos Bichos"
            cardAuthor="Orwell, George"
            cardPrice="19.99"
            >
            </app-card>

            <app-card
            cardCapa="./../../../assets/images/books/5.jpg"
            cardTitle="A Garota do Lago"
            cardAuthor="Donlea, Charlie"
            cardPrice="19.99"
            >
            </app-card>
          </div>
        </div>
          
        <div class="carousel-item">
          <div class="bookstore-carousel__item">
            <app-card
            cardCapa="./../../../assets/images/books/9.jpg"
            cardTitle="O Conto da Aia"
            cardAuthor="Atwood, Margaret"
            cardPrice="29.99"
            >
            </app-card>

            <app-card
            cardCapa="./../../../assets/images/books/11.jpg"
            cardTitle="Orgulho e Preconceito"
            cardAuthor="Austen, Jane"
            cardPrice="19.99"
            >
            </app-card>
          </div>
        </div>

      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#sliderMdPopular" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#sliderMdPopular" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <div id="sliderSmPopular" class="d-none d-sm-flex d-md-none carousel carousel-dark slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="bookstore-carousel__item">
            <app-card
            cardCapa="./../../../assets/images/books/0.jpg"
            cardTitle="A Teoria de Tudo"
            cardAuthor="Hawking, Jane"
            cardPrice="19.99"
            >
            </app-card>

            <app-card
            cardCapa="./../../../assets/images/books/1.jpg"
            cardTitle="Harry Potter e a Pedra Filosofal"
            cardAuthor="Rowling, J. K."
            cardPrice="29.99"
            >
            </app-card>
          </div>
        </div>

        <div class="carousel-item">
          <div class="bookstore-carousel__item">
            <app-card
            cardCapa="./../../../assets/images/books/2.jpg"
            cardTitle="Como Star Wars Conquistou o Universo"
            cardAuthor="Taylor, Chris"
            cardPrice="49.99"
            >
            </app-card>

            <app-card
            cardCapa="./../../../assets/images/books/3.jpg"
            cardTitle="1984"
            cardAuthor="Orwell, George"
            cardPrice="39.99"
            >
            </app-card>
          </div>
        </div>

        <div class="carousel-item">
          <div class="bookstore-carousel__item">
            <app-card
            cardCapa="./../../../assets/images/books/4.jpg"
            cardTitle="A Revolução dos Bichos"
            cardAuthor="Orwell, George"
            cardPrice="19.99"
            >
            </app-card>

            <app-card
            cardCapa="./../../../assets/images/books/5.jpg"
            cardTitle="A Garota do Lago"
            cardAuthor="Donlea, Charlie"
            cardPrice="19.99"
            >
            </app-card>
          </div>
        </div>       

        <div class="carousel-item">
          <div class="bookstore-carousel__item">
            <app-card
            cardCapa="./../../../assets/images/books/9.jpg"
            cardTitle="O Conto da Aia"
            cardAuthor="Atwood, Margaret"
            cardPrice="29.99"
            >
            </app-card>

            <app-card
            cardCapa="./../../../assets/images/books/11.jpg"
            cardTitle="Orgulho e Preconceito"
            cardAuthor="Austen, Jane"
            cardPrice="19.99"
            >
            </app-card>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#sliderSmPopular" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#sliderSmPopular" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>  
    
    <div id="sliderPopular" class="d-flex d-sm-none carousel carousel-dark slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="bookstore-carousel__item">
            <app-card
            cardCapa="./../../../assets/images/books/0.jpg"
            cardTitle="A Teoria de Tudo"
            cardAuthor="Hawking, Jane"
            cardPrice="19.99"
            >
            </app-card>            
          </div>
        </div>

        <div class="carousel-item">
          <div class="bookstore-carousel__item">
            <app-card
            cardCapa="./../../../assets/images/books/1.jpg"
            cardTitle="Harry Potter e a Pedra Filosofal"
            cardAuthor="Rowling, J. K."
            cardPrice="29.99"
            >
            </app-card>
          </div>
        </div>

        <div class="carousel-item">
          <div class="bookstore-carousel__item">
            <app-card
            cardCapa="./../../../assets/images/books/2.jpg"
            cardTitle="Como Star Wars Conquistou o Universo"
            cardAuthor="Taylor, Chris"
            cardPrice="49.99"
            >
            </app-card>            
          </div>
        </div>
        
        <div class="carousel-item">
          <div class="bookstore-carousel__item">
            <app-card
            cardCapa="./../../../assets/images/books/3.jpg"
            cardTitle="1984"
            cardAuthor="Orwell, George"
            cardPrice="39.99"
            >
            </app-card>  
          </div>
        </div>
        
        <div class="carousel-item">
          <div class="bookstore-carousel__item">
            <app-card
            cardCapa="./../../../assets/images/books/4.jpg"
            cardTitle="A Revolução dos Bichos"
            cardAuthor="Orwell, George"
            cardPrice="19.99"
            >
            </app-card> 
          </div>
        </div>
        
        <div class="carousel-item">
          <div class="bookstore-carousel__item">
            <app-card
            cardCapa="./../../../assets/images/books/5.jpg"
            cardTitle="A Garota do Lago"
            cardAuthor="Donlea, Charlie"
            cardPrice="19.99"
            >
            </app-card>            
          </div>
        </div>
        
        <div class="carousel-item">
          <div class="bookstore-carousel__item">
            <app-card
            cardCapa="./../../../assets/images/books/9.jpg"
            cardTitle="O Conto da Aia"
            cardAuthor="Atwood, Margaret"
            cardPrice="29.99"
            >
            </app-card>            
          </div>
        </div>
        
        <div class="carousel-item">
          <div class="bookstore-carousel__item">
            <app-card
            cardCapa="./../../../assets/images/books/11.jpg"
            cardTitle="Orgulho e Preconceito"
            cardAuthor="Austen, Jane"
            cardPrice="19.99"
            >
            </app-card>            
          </div>
        </div>          
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#sliderPopular" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#sliderPopular" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>